@import url('https://fonts.cdnfonts.com/css/kreadon');

*::selection{
    color: white;
    background-color: #4759ca;
}
*{
    font-family: 'Kreadon', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}



/* AUTHENTICATION */
#authentication *{
    font-family: 'Kreadon', sans-serif;
    font-weight: 700;
}
#authentication h2{
    font-weight: 800;
}
#authentication{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: lightgrey;
}
.auth{
    background-color: whitesmoke;
    transform: scale(1);
    border-radius: 15px;
    margin: auto;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    width: 33%;
    box-shadow: 0px 0px 20px rgb(149, 149, 149);
    transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.05s;
}
.auth:hover{
    box-shadow: 0px 0px 15px rgb(117, 117, 117);
    transform: scale(1.05);
    transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.05s;
}
.auth:first-child{
    margin-right: 1em;
    margin-left: auto;
}
.auth:nth-child(2){
    margin-left: 1em;
    margin-right: auto;
}
.auth h2{
    color: #515151;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}
.auth span, .auth input, #edit-profile input[type='number'], #edit-profile select, #edit-nutrition select,  #food-log select{
    color: #4759ca;
}
.auth span{
    margin-top: 1em;
    margin-bottom: 5px;
    font-size: 15px;
}
.auth input, #edit-profile input[type='number'], #edit-profile select, #edit-nutrition select, #food-log select, #food-log input, #weight input{
    padding: 1em;
    border: solid 2px rgba(81, 81, 81, 0.5);
    border-radius: 20px;
    background-color: rgba(207, 207, 207, 0.5);
    font-size: 20px;
}
.auth input:focus, #edit-profile input[type='number']:focus, #edit-profile select:focus, #edit-nutrition select:focus, #food-log select:focus, #food-log input:focus{
    outline: solid 2px rgba(71, 89, 202, 0.7);
    border: solid 2px rgba(71, 89, 202, 0.7);
}
.auth input[type="submit"]{
    background-color: #4759ca;
    border: none;
    border-radius: 20px;
    color: white;
    margin: auto;
    margin-top: 1em;
    font-size: 20px;
    width: 35%;
    padding: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.auth input[type="submit"]:hover{
    cursor: pointer;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);;
}
.auth input:hover, #edit-profile input[type='number']:hover, #edit-profile select:hover, #edit-nutrition select:hover, #food-log select:hover, #food-log input:hover{
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);
}
.auth input::selection{
    background-color: #4759ca;
}



/* MAIN PAGE */
#mainpage{
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
}
#food, #weight, #profile-view, #food-log{
    width: 40%;
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(149, 149, 149);
    transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.05s, opacity ease-in-out 0.3s;
}
#food{
    margin-right: 1.5em;
    height: 80%;
}
#weight{
    margin-left: 1.5em;
}
#food:hover, #weight:hover{
    transform: scale(1.05);
    transition: transform ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
    box-shadow: 0px 0px 8px rgb(117, 117, 117);
}
#calories {
    padding-left: 1em;
    padding-right: 1em;
}
#calories *{
    text-align: center;
    width: 100%;
    font-weight: 800;
}
#calories h2{
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #4759ca;
}
#calories h1{
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0.5em;
}
progress{
    -webkit-appearance: none;
    appearance: none;
    height: 1.5em;
    width: 70%;
}
progress::-webkit-progress-bar {
    background-color: #383838;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress::-webkit-progress-value {
    border-radius: 30px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress.blue::-webkit-progress-value{
    background-color: #4759ca;
}
progress.red::-webkit-progress-value{
    background-color: #fa4d43;
}
#logs{
    overflow-y: scroll;
}
#logs h2{
    width: 100%;
    
}
#add-food, #authenticate, #profile-view button, #edit-profile input[type='submit'], #food-log button, #weight button{
    background-color: #4759ca;
    margin: auto;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    font-weight: 800;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    transition: box-shadow ease-in-out 0.1s;
    margin: auto;
}
#add-food:hover, #authenticate:hover, #profile-view button:hover, #edit-profile input[type='submit'], #food-log button:hover, #weight button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
    transition: box-shadow ease-in-out 0.1s;
}



#weight-info{
    display: flex;  
    flex-direction: row;
    line-height: 2em;
    margin-top: 1em;
}
#weight-info h2{
    font-weight: 700;
    font-size: 2em;
    margin: 0;
}
#weight-info h1{
    font-weight: 800;
    font-size: 2.5em;
    color: #4759ca;
    margin: 0;
    margin-left: 0.5em;
}
#weight span{
    font-weight: 700;
    font-size: 1em;
    color: rgb(0,255,0);
    margin-left: 0.5em;
}
#graph h2{
    font-size: 2em;
    color: #4759ca;
    margin-bottom: 0;
    margin-top: 1em;
    text-align: center;
}
#graph canvas{
    margin: auto;
    margin-bottom: 2em;
}

#profile:hover{
    cursor: pointer;
}
#authenticate{
    width: 10em;
}
#profile *, #authenticate{
    position: absolute;
    right: 2em;
    top: 2em;
    align-items: center;
}
#profile span{
    font-size: 1.5em;
    font-weight: 700;
    color: #4759ca;
    top: 1.65em;
    right: 3.5em;
}

#profile-view > *, #food-log > *{
    display: none;
}
#profile-view, #food-log{
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: width ease-in-out 0.2s, height ease-in-out 0.2s;
    background-color: rgba(255, 255, 255, 0.8);
}
#profile-view > svg, #food-log > svg{
    position: absolute;
    right: 1.5em;
}
#profile-view h1, #food-log h1{
    margin-top: 0;
    font-size: 2.5em;
    color: #4759ca;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
}
#profile-info, #nutritional-info{
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    line-height: 0.8em;
}
#profile-info p span, #nutritional-info p:nth-child(2n){
    color: #4759ca;
    font-weight: 700;
}
#profile-view button, #edit-profile button, #food-log button{
    width: 50%;
}
#nutritional-info h2{
    color: #4759ca;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-top: 1.25em;
}
#nutritional-info{
    display: grid;
}
#nutritional-info h2{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}
#nutritional-info button{
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 0.5em;
}
#profile-view > svg:hover, #food-log > svg:hover{
    cursor: pointer;
}
#logout{
    top: 1em;
    left: 1em;
    position: absolute;
    width: fit-content;
    padding: 0.5em;
    padding-left: 0.6em;
    padding-right: 0.6em;
    background-color: #fa4d43;
    border-radius: 50px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
    transition: transform ease-in-out 0.1s;
}
#logout:hover{
    cursor: pointer;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
    transition: transform ease-in-out 0.1s;
}
#logout svg{
    margin-right: 5px;
    margin-top: 5px;
}

#edit-profile, #edit-nutrition{
    display: none;
    flex-direction: column;
    font-weight: 700;
    text-align: center;
}
#edit-profile input, #edit-profile select, #food-log input, #food-log select{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
#edit-profile label, #edit-nutrition label, #food-log label{
    color: #4759ca;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
#edit-profile button{
    margin-top: 1em;
}

#edit-nutrition select:last-of-type, #food-log select:last-of-type{
    margin-bottom: 1em;
}
#edit-nutrition select{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#food-log{
    text-align: center;
    font-weight: 700;
}
#search{
    display: flex;
    flex-direction: row;
}
#search input{
    width: 100%;
    margin-top: 1em;
    font-size: 1em;
    color: #4759ca;
    margin-bottom: 1em;
    font-weight: 700;
}
#search svg{
    margin-right: 0;
    margin-left: 1em;
    margin-top: 2.1em;
}
#search svg:hover{
    cursor: pointer;
}
#search-results, #logs{
    background-color: rgba(207, 207, 207, 0.5);
    height: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3) inset;
    border: solid 2px rgba(81, 81, 81, 0.5);
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
label[for='search-results']{
    text-align: left;
    margin-bottom: 0em;
    margin-top: 1em;
}
#food-log select{
    font-size: 1em;
}

.food{
    width: 100%;
    height: 30%;
    border-bottom: solid 3px rgba(81, 81, 81, 0.5);
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
}
.food:last-child{
    border-bottom: none;
}
.food :first-child{
    margin-left: 1.5em;
    margin-right: auto;
}
.food :nth-child(2), .food :nth-child(3){
    margin-right: 1em;
    font-weight: 600;
}
.food svg{
    margin-left: 1em;
    margin-right: 1.5em;
    align-self: center;
    height: 100%;
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
    width: 0.5em;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4759ca;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
    border-radius: 25px;
    margin-left: 1em;
  }
#search-results::-webkit-scrollbar{
    position: absolute;
    right: -15px;
}

#logs{
    margin-top: 0.5em;
    height: 60%;
    overflow-x: hidden;
    overflow: auto;
    font-weight: 700;
    padding: 0;
    padding-right: 0;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    background: none;
    border: solid 3px rgba(81, 81, 81, 0.1);
    box-shadow: none;
}
#logs .food{
    margin-right: 0;
    height: 20%;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    margin-bottom: 0.25em;
}
#logs .food:last-of-type{
    margin-bottom: 0;
}
.meal-title, #logs .unavailable, #search-results .unavailable{
    text-align: center;
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #4759ca;
}
#logs .unavailable, #search-results .unavailable{
    width: 20%;
    margin: auto;
    padding: 0.2em;
    border-radius: 20px;
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    background-color: #fa4d43;
}
#search-results .unavailable{
    margin-top: 2em;
}

#search-results .food :first-child, #logs .food :first-child{
    text-align: left;
    width: 50%;
}
#search-results .food input, #weight input{
    padding: 0.5em;
    width: 3em;
    font-size: 1em;
    margin-right: 0.5em;
    text-align: center;
}

#weight-info input, #weight-info button{
    padding: 0.2em;
}
#weight-info button{
    width: 25%;
    margin-left: 1em;
    margin-right: 0;
}
#weight-info input{
    margin-right: 0;
    margin-left: 1em;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 15%;
    font-size: 1em;
    font-weight: 700;
}